<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<config-name>pp1</config-name><!-- used to resolve dependency -->
	<!--
	<depends>zk</depends>
	-->
	
  	<version>
		<version-class>ws.Version</version-class>
		<version-uid>ed</version-uid>
	</version>

	<!--
	<listener>
		<listener-class>ws.</listener-class>
	</listener>
	
	<library-property>
		<name></name>
		<value>ws.</value>
	</library-property>
	-->
</zk>